/* Reset */
body,
ul,
li,
h1,
h2,
h3,
p,
button,
input {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container {
    margin-top: 50px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.message {
    font-size: 18px;
    color: #666;
}
