/* Reset */
body,
ul,
li,
h1,
h2,
h3,
p,
button,
input,
select {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container {
    margin-top: 50px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.message {
    font-size: 18px;
    color: #666;
}

form {
    width: 50%;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input,
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    background-color: #b41c3a;
    color: white;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #d70d2c;
}
