<!DOCTYPE html>
<html lang="eng">
    <head>
        <title>Registration</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    </head>
    <body>
        <form action="/registratioon" method="post">
            <div class="form-group">
                {{form.email.label}}
                {{form.email(class='form-control', placeholder='Email')}}
            </div>
            <div class="form-group">
                {{form.password.label}}
                {{form.password(class='form-control', placeholder='Password')}}
            </div>
            <div class="form-check">
                {{form.remember(class='form-check-input')}}
                {{form.remember.label}}
            </div>
            {{form.submit(class='btn-primary')}}
    </body>
</html>